{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Rider Hive {% endblock %}
{% block content %}

<style>
    .superhero {
        background-image: url("{% static 'image/shanavas-bg.jpg' %}");
        background-size: cover;
        background-position: bottom;
        padding: 40px 40px;
    }
    .superhero .header {
        text-align: center;
        margin-bottom: 40px;
        color: #ffffff;
    }

    .superhero h1 {
        color:white;
    }

    .superhero h2 {
        color: #2f4f4f;
        font-size: 1.5em;
        margin-bottom: 3px;
    }

    .superhero .search-container .btn {
        background-color: #2f4f4f;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1em;
        margin-top: 10px;
    }

    .superhero .search-container .btn:hover {
        background-color: #444;
    }

    .superhero .search-container {
        background-color: rgb(244, 244, 244);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;  
    }

    .superhero .search-container h2 {
        margin: 0!important;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .superhero .search-container .input-group {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 10px;
        padding: 5px;
        min-width: 150px;  
    }

    .superhero .search-container label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .superhero .search-container input[type="text"], input[type="time"], input[type="date"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .superhero .search-container button.search-button {
        width: auto;
        padding: 10px 20px;
        background-color:#2c3e50 ;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        align-self: center;
    }

    .superhero .search-container button.search-button:hover {
        background-color: #45a049;
    }

    /* trip */
    .trip-container {
        margin: 3rem;
    }
    .trip-container .card {
        opacity: 0;
        transform: translateX(-200px);
        transition: all 0.8s ease;
        margin-bottom: 2rem;
    }

    .trip-container .card.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .trip-container .card:hover {
        transform: scale(1.01);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    }

    .trip-container .card .card-body {
        height: 120px;
        overflow: auto;
    }

    .trip-container .card .btn {
        background-color: #2f4f4f;
        color: white;
        border: none;
        border-radius: 0rem 0rem 0.375rem 0.375rem!important;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1em;
    }

    .trip-container .card .btn:hover {
        background-color: #444;
    }

    /* Responsive design */
    @media (max-width: 768px) {
        .superhero .search-container {
            flex-direction: column;
            align-items: center;
        }

        .superhero .search-container .input-group {
            width: 100%; 
            margin-bottom: 15px;
        }

        .superhero .search-container button.search-button {
            width: 100%; 
        }
        .trip-container {
            margin: 1rem;
        }
        .trip-container .card {
            margin-bottom: 1rem;
        }
    }

</style>


<div class="superhero">
    <div class="header pt-5">
        <h1>Welcome to Ride-Hive</h1>
        <p><b>Your one-stop platform to manage rides, routes, users, and payments efficiently!</b></p>
    </div>

    <div class="search-container mb-5">
        <h2>Search Ride</h2>
        <form action="{% url 'trips' %}" method="post" style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
            {% csrf_token %}
            <div class="input-group">
                <label for="origin">Leaving From</label>
                <input type="text" id="origin" name="origin" value="Kannapuram" required>
            </div>

            <div class="input-group">
                <label for="destination">Going To</label>
                <input type="text" id="destination" name="destination" value="Kannur" required>
            </div>

            <div class="input-group">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" value="2025-02-28" required>
            </div>

            <button type="submit" class="search-button mt-3">Search</button>
        </form>
    </div>
</div>

<div class="trip-container">
    <h2 class="text-center mb-5">Available Rides</h2>
    <div class="row car-row">
        {% for trip in trips %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{trip.map_image.url}}" class="card-img-top" style="height: 200px;" alt="Ride Image">
                <div class="card-body">
                    <p><i class="bi bi-car-front-fill me-1"></i> {{trip.origin|slice:":30"}}</p>
                    <p><i class="bi bi-arrow-right-circle me-1"></i> {{trip.destination|slice:":30"}}</p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong><i class="bi bi-clock me-1"></i></strong> {{trip.start_date}} | {{trip.start_time}}</li>
                    <li class="list-group-item"><strong><i class="bi bi-speedometer me-1"></i></strong> {{trip.distance}} KM </li>
                    <li class="list-group-item"><strong><i class="bi bi-cash me-1"></i></strong> {{trip.amount}}₹ (6₹/km)</li>
                    <li class="list-group-item p-0 m-0"><button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#bookNow{{trip.id}}">Book Now</button></li>
                </ul>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="bookNow{{trip.id}}" tabindex="-1" aria-labelledby="bookNowLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="bookNowLabel">Are you sure?</h1>
                        </div>
                        <div class="modal-footer">             
                            <form action="{% url 'add_booking' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{trip.id}}" name="trip" required>
                                <button type="button" class="btn btn-secondary bi bi-x-lg" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-primary">Book Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
 

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".card");
       
        const revealCards = () => {
            const windowHeight = window.innerHeight;
            cards.forEach(card => {
                const cardTop = card.getBoundingClientRect().top;
                if (cardTop < windowHeight - 50) {
                    card.classList.add("visible");
                }
            });
        };

        window.addEventListener("scroll", revealCards);
        revealCards();   
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

{% endblock %}
